STELLAR_NETWORK = <TESTNET | PUBLIC> # TESTNET
HORIZON_URL = <https://horizon-testnet.stellar.org | https://horizon.stellar.org> # https://horizon-testnet.stellar.org
ISSUER = <Stellar public key> # GBO5SAL2XT2RLTBM3FFFHPX43JQTXN7ETMFBBAPMUMOVGMQKDFWSIJ3Y
ISSUER_SECRET = <Stellar secret key> # SAW7ELX7HVP4PXOOIPSKK3OJHQ6TKVQK6JL4DJSJRZF2YB4GEE6TUL37
TXF_AGENT = <Stellar public key> # GCCWIGGQY4XJKRPJUC6X7ITQMICNBIENUUTFZCYRU7BIRDKPHIGMJOL3
TXF_CREATOR = <Stellar public key>
TXF_CREATOR_SECRET = <Stellar secret key>
USER = <Stellar public key>
USER_SECRET = <Stellar secret key>
